<h1><%= "#{@group.name} - Sessões" %></h1>

<div>
  <div>
    <ul>
      <% @group.sessions.each do |session| %>
        <li>
          <%= link_to session.name, group_session_path(@group, session) %>
        </li>
      <% end %>
    </ul>

    <p>
      <%= "Total de Sessões: #{@group.sessions.count}" %>
    </p>
  </div>

  <div>
    <% if @group.user == current_user %>
      <p>
        <%= link_to 'Criar nova Sessão', new_group_session_path(@group) %>
      </p>
    <% else %>
      <p>Contacte o dono do grupo para a criação de novas Sessões</p>
    <% end %>
    <p>
      <%= link_to 'Voltar para Grupo', group_path(@group) %>
    </p>
  </div>
</div>