<h1><%= link_to "#{@group.name} - #{@session.name}" %></h1>

<div>
  <div>
    <% if @session.presented_users.count > 0 %>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
      <p>
        <%= "Você tirou o participante #{@presented_user.name}" %>
      </p>
    <% else %>
      <p>Ainda não foi realizado o sorteio desta Sessão</p>

      <% if @group.user == current_user %>
        <p>
          <%= link_to 'Realizar Sorteio', make_raffle_session_path(@session), method: :patch %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div>
    <h3>Participantes da Sessão</h3>
  
    <ul>
      <% @session.users.each do |participant| %>
        <li><%= participant.name %></li>
      <% end %>
    </ul>

    <p>
      <%= "Total de Participantes: #{@session.users.count}" %>
    </p>
  </div>

  <div>
    <p>
      <%= link_to 'Voltar para Sessões', group_sessions_path(@group) %>
    </p>
  </div>
</div>