<h1><%= @group.name %></h1>

<p><%= "Criado por: #{@group.user.email}" %></p>

<div>
  <h3>Participantes do Grupo</h3>
  
  <ul>
    <% @group.users.each do |participant| %>
      <li><%= participant.name %></li>
    <% end %>
  </ul>

  <p>
    <%= "Total de Participantes: #{@group.users.count}" %>
  </p>
  <% if @group.user == current_user %>
    <p>
      <%= link_to 'Adicionar Participantes', add_participant_group_path(@group) %>
    </p>
  <% end %>

<div>